<!doctype html>
<html lang="en-US">
  <head>
    <title>Expense Tracker</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/css/emoji.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="module">
      import 'https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js'
      import insertText from 'https://cdn.jsdelivr.net/npm/insert-text-at-cursor@0.3.0/index.js'
      document.querySelector('emoji-picker').addEventListener('emoji-click', e => {
        insertText(document.querySelector('input'), e.detail.unicode)
      });
    </script>
    <script>
      $(document).ready(function(){
        $(".add_account_form").hide();
        $(".add_category_form").hide();

        $(".add_account").on("click", function(){
        $(".add_account_form").toggle();
      });

        $(".add_category").on("click", function(){
        $(".add_category_form").toggle();
      });

      });
    </script>
  </head>

  <% if session[:errors] %>
    <div class="flash error" style="max-width: 960px; padding: 10px 20px;margin: 20px auto 1.5em auto; background-color: #ffcfbf; color: #ff6633;">
      <p><%= session[:errors] %></p>
      <% session.delete(:errors) %>
    </div>
  <% end %>

  <% if session[:success] %>
    <div class="flash success" style="max-width: 960px; padding: 10px 20px;margin: 20px auto 1.5em auto; background-color: #cbf2e5; color: #33cc99;">
      <p><%= session.delete(:success) %></p>
    </div>
  <% end %>

  <body>
    <h1>Expense Tracker</h1>

    <p>Welcome to the Expense Tracker app! This app built using Sinatra as part of the Launch school <a href="https:launchschool.com/curriculum/courses/26d33169">'Networked Applications'</a> course. The app uses <a href="https:watercss.kognise.dev/">Water.css</a>.</p>

    <p>Use the buttons below to add expense, income, view transactions, or manage your accounts or categories ⬇️</p>
    <button class="add_expense"><a href="/">Expense</a></button>
    <button class="add_income"><a href="/income">Income</a></button>
    <button class="show_transactions"><a href="/transactions">Transactions</a></button>
    <button class="show_accounts"><a href="/accounts">Accounts</a></button>
    <button class="show_categories"><a href="/categories">Categories</a></button>
    <%= yield %>
 </body>
</html>
