<div class="transactions">
  <h2>Recent Transactions</h2>
  <p>Displays the last 5 transactions</p>
  <hr>
  <% if !session[:accounts].map(&:transactions).nil? %>
    <% session[:accounts].map(&:transactions).flatten.sort_by { |transaction| transaction.date }.reverse.first(5).each do |transaction| %>
      <p><%= transaction.category %>: <%= transaction.amount %></p>
      <p class="transaction__note"><%= transaction.note %></p>
      <p>Date: <%= transaction.date %></p>
      <hr>
     <% end %>
  <% end %>
</div>